#copy_file_dialog {
    display: none;
    position: absolute;
    font-family: 'Segoe UI';
    width: 900px;
    height: 500px;
    background-color: red;
    padding: 0px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#copy_file_dialog_local {
    margin: 0px;
    width: 400px;
    padding: 0px;
    position: relative;
    float: left;
    background-color: yellow;
}

#copy_file_dialog_local_header {
    margin: 0px;
    padding: 0px;
    height: 50px;
}

#copy_file_dialog_local_selections {
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 400px;
}


#copy_file_dialog_local_list_view {
    overflow: scroll;
    height: 300px;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-color: rgb(117,117,117);
    display: block;
    border-style: solid;
}

    #copy_file_dialog_local_list_view ul {
        margin: 0px;
        padding: 0px;
    }

        #copy_file_dialog_local_list_view ul li {
            cursor: pointer;
            margin: 0px;
            padding: 0px;
        }

#copy_file_dialog_local_actions {
    height: 100px;
}

#copy_file_dialog_local_actions_refresh {
    float: right;
    cursor: pointer;
}

#copy_file_dialog_arrows {
    border-width: 1px;
    margin: 0px;
    padding: 0px;
    background-color: brown;
    width: 100px;
    height: 500px;
    position: relative;
    float: left;
}

#copy_file_to_remote_button {
    width: 30px;
    height: 30px;
    background: url(../images/Arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    top: 0;
    bottom: 0;
}

#copy_file_to_local_arrow {
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: url(../images/Arrow_left.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#copy_file_dialog_remote {
    padding: 0px;
    margin: 0px;
    background-color: pink;
    width: 400px;
    position: relative;
    float: left;
}

#copy_file_dialog_remote_header {
    margin: 0px;
    padding: 0px;
    height: 50px;
}

#copy_file_dialog_remote_selections {
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 30px;
}

#copy_file_dialog_remote_list_view {
    overflow: scroll;
    height: 300px;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-color: rgb(117,117,117);
    display: block;
    border-style: solid;
}

    #copy_file_dialog_remote_list_view ul {
        margin: 0px;
        padding: 0px;
    }

        #copy_file_dialog_remote_list_view ul li {
            border-width: 2px;
            cursor: pointer;
            margin: 0px;
            padding: 0px;
        }

#copy_file_dialog_remote_actions {
    height: 100px;
}

#copy_file_dialog_remote_actions_refresh {
    float: right;
    cursor: pointer;
}

#copy_file_dialog_close {
    float: right;
}
