#setting_dialog {
    position: relative;
    display: none;
    background-color: white;
    width: 300px;
    height: 100px;
    height: auto;
    width: 300px;
    top: -600px;
    left: 500px;
    font-family: 'Segoe UI';
}

#setting_width_label {
    font-family: 'Segoe UI';
    font-size: 13px;
}

#setting_height_label {
    font-family: 'Segoe UI';
    font-size: 13px;
}

#setting_dialog_ok {
    border-color: rgb(117, 117, 117);
    border-width: 0px;
    background: rgb(0, 188, 242);
    color: white;
}

#setting_dialog_cancel {
    background: rgb(0, 188, 242);
    color: rgb(117, 117, 117);
    border-color: rgb(117, 117, 117);
    border-width: 0px;
    color: white;
}
