ul {
    list-style-type: none;
}

html {
    height: 100%;
    padding: 0;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#login_main_panel li {
    width: 90%;
}

#identity_file {
    display: none;
}

#identity_pub_file {
    display: none;
}

.auth_button1 {
    float: left;
    margin: 0;
    border-right-width: 0px;
}

.auth_button2 {
    border-left-width: 1px;
}

#loginbutton {
    color: white;
    background: rgb(0, 188, 242);
    font-family: 'Segoe UI';
    border-width: 0px;
    height: 35px;
    width: 90px;
    border-color: rgb(117, 117, 117);
    font-size: 12px;
    font-weight: bold;
    color: rgb(117, 117, 117);
    background: white;
}

.auth_button {
    font-family: 'Segoe UI';
    border-width: 1px;
    border-color: rgb(117, 117, 117);
    height: 22px;
    font-size: 12px;
    color: rgb(117, 117, 117);
    background: white;
}

.auth_button_selected {
    background: rgb(0, 188, 242);
    color: white;
}

.input_label_li {
    font-weight: normal;
    font-size: 12px;
    margin-top: 15px;
    color: rgb(117, 117, 117);
}

.login_input {
    width: 100%;
    color: rgb(13, 24, 33);
    font-size: 12px;
    font-family: 'Segoe UI';
}

#login_main_panel {
    height: 100%;
}

.mg-login-ul {
    padding-left: 30px;
}

.login_header {
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

.login_header_label {
    padding-left: 40px;
    font-family: 'Segoe UI';
    font-size: 35px;
}

.mg-login {
    font-family: 'Segoe UI';
    width: 36%;
    height: 100%;
    float: left;
}

.decoration_label {
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 30px;
}

.decoration_panel {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(46,127,170);
    background-image: url("../images/heroillustration.png");
    width: 64%;
    height: 100%;
    float: left;
}
