.blade_header {
}

.blade {
    margin-left: 1px;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-color: grey;
}


.blade_header {
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

.blade_header_p {
    padding-left: 35px;
    font-family: 'Segoe UI light','segoe ui';
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}
