
#login_blade {
    display: none;
    background-color: white;
    font-family: 'Segoe UI';
    width: 400px;
    height: 100%;
    /*position: absolute;*/
    /* top: 0; */
    /* bottom: 0; */
    /*left: 260px;*/
    /* right: 0; */
    /* margin-left: auto; */
    /* margin-top: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    z-index: 2;
}

#login_main_panel li {
    width: 90%;
}

#identity_pub_file {
    display: none;
}

.auth_button {
    font-family: 'Segoe UI';
    border-color: rgb(117, 117, 117);
    height: 22px;
    font-size: 12px;
    color: rgb(117, 117, 117);
    background: white;
    cursor: pointer;
    margin: 0;
}

.auth_button_selected {
    background: rgb(0, 188, 242);
    color: white;
}

.auth_button:nth-child(1) {
    border-right-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right: 1px;
    float: left;
}

.auth_button:nth-child(2) {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    float: left;
}

.auth_button:nth-child(3) {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

#login_connect_button {
}

    #login_connect_button:disabled {
        color: grey;
        background-color: lightgrey;
        cursor: wait;
    }

#login_cancel_button {
}

.login_input_label_li {
}

.login_input {
    /*width: 95%;*/
}

#login_private_key {
    width: 100%;
    position: relative;
    height: 22px;
    display: none;
}

#login_private_key_file_name {
    float: left;
    height: 22px;
    width: 80%;
}

#login_private_key_file_name_text {
    width: 98%;
}

#login_private_key_button {
    height: 22px;
    float: left;
    width: 20%;
}

#login_private_key_browse {
    position: relative;
    top: 0px;
    left: 0px;
    height: 22px;
    font-family: segoe ui;
    width: 100%;
}

#identity_file {
    position: relative;
    top: -22px;
    opacity: 0;
    outline: 0;
    width: 100%;
    height: 22px;
}

#login_warning_label {
    display: none;
    color: yellow;
}

#login_main_panel {
    position: absolute;
    width: 100%;
    height: 100%;
}

#login_blade_header {
    background-color: darkgrey;
}

#login_blade_controller {
    background-color: darkgrey;
}

#login_blade-ul {
}

.connect_button {
    float: right;
}

    .connect_button:first-child {
        margin-left: 5px;
    }

.decoration_label {
    color: #b7e2f9;
    font-family: 'Segoe UI light','Segoe UI';
    font-size: 40px;
    margin-left: 74px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#decoration_image {
    width: 80%;
    height: 90%;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-image: url("../images/heroillustration.png");
}

.decoration_panel {
    background-color: rgb(46,127,170);
    width: 64%;
    height: 100%;
    float: left;
}
