
#virtual_machine_navigation_panel {
    width: 280px;
    font-family: 'Segoe UI';
    z-index: 2;
    background-color: white;
}


#virtual_machine_selections_label {
    display: block;
    width: 100%;
}

#virtual_machine_selections {
    display: none;
    margin: 0;
    padding: 0;
    margin-left: 9px;
    margin-top: 15px;
    font-size: 16px;
    width: 240px;
}

#virtual_machines_tree {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
}

#virtual_machine_tree_ul {
}

#virtual_machine_navigation_sign_panel {
}

#virtual_machine_navigation_sign_in_panel {
    margin-top: 15px;
    display: none;
    float: right;
    margin-right: 5px;
}

#virtual_machine_navigation_sign_up_panel {
    margin-top: 15px;
    display: none;
    float: right;
    margin-right: 5px;
}

#virtual_machine_navigation_sign_as_admin_in_panel {
    width: 100%;
}

#signed_in_welcome {
}

#virtual_machine_navigation_new_machine {
    margin-top: 15px;
    float: right;
    margin-right: 5px;
}

#virtual_machine_sign_out {
    margin-top: 15px;
    float: right;
    /*margin-top: 5px;*/
}
