#terminal_embedded_applet {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}
    /*html {
        background: #555;
    }
             body{
                 padding:0px;
                 margin:0px;
             }
    h1 {
        display:none;
        margin-bottom: 20px;
        font: 20px/1.5 sans-serif;
    }*/
#deployJavaPlugin {
    position: absolute;
}

#terminal_main_panel {
    display: none;
    width: 100%;
    height: 100%;
    width: 100%;
}

.terminal {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    border: #000 solid 5px;
    font-family: "Segoe UI", monospace;
    font-size: 13px;
}

.terminal-cursor {
    color: #000;
    background: #f0f0f0;
}
