#select_folder_dialog {
    display: none;
    position: absolute;
    font-family: 'Segoe UI';
    font-size: 13px;
    width: 530px;
    height: 413px;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#select_folder_dialog_inner {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#select_folder_dialog_local_header {
    font-size: 14px;
    font-family: 'Segoe UI';
}

#select_folder_dialog_list_view {
    border-width: 1px;
    overflow: scroll;
    margin-top: 10px;
    border-style: solid;
    height: 303px;
    border-color: rgb(169,169,169);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    #select_folder_dialog_list_view ul {
        padding-left: 10px;
        margin-left: 0px;
    }

        #select_folder_dialog_list_view ul li {
            cursor: pointer;
        }

            #select_folder_dialog_list_view ul li.selected {
                margin: 0px;
                padding: 0px;
                color: white;
                background-color: rgb(0, 188, 242);
            }

#select_folder_dialog_current_folder {
    margin-top: 10px;
}

#select_folder_dialog_result_label {
}

#select_folder_dialog_current_folder_text {
    font-size: 13px;
    font-family: Segoe UI;
    width: 432px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169);
}

#select_folder_dialog_local_actions_ok {
    font-size: 13px;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}

#select_folder_dialog_local_actions_cancel {
    float: right;
    margin-top: 8px;
}
